*{
    margin: 0;
}

body{
    background-image: url(./pexels-photo-616404.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 5px;
}

label{
    text-align: center;
    margin: 5px;
}

.items{
    width: 30em;
    margin: 5px;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.red{
    background-color: orangered;
    opacity: .25;
}

.green{
    background-color: green;
    opacity: .25;
}

.opaque{
    opacity: 1;
}